<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <img src="/assets/img/avatar.jpg" alt="Avatar Vincent Schoener" class="img-fluid rounded-circle">
    </div>
    <div class="title">
      <h1 class="h4">Vincent Schoener</h1>
      <p>Lead & Full Stack Senior Developper</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="active">
      <a href="index.html">
        <i class="fa fa-home"></i> Home</a>
    </li>
  </ul>
</nav>
